.label {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border-radius: var(--radii);
  box-shadow: var(--shadow);
  background-color: var(--colors-ui-base);
  width: 100%;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  background-color: transparent;
  color: var(--color-text);
  /* font-size: 18px; */
}


@media (min-width: 767px) {
  .label {
    margin-bottom: 0;
    width: 280px;

  }

}
